/*
    layout.css
*/

.layout {
    background-color: rgb(251, 247, 255);
    margin-left: 20%;
    margin-right: 20%;
    padding: 5vh 5vw;
}

.title {
    font-family: Helvetica;
}

.subtitle {
    font-family: Helvetica;
    border-top: 1px solid black;
    padding-top: 1rem;
}

.strong {
    display: inline-block;
    font-family: Arial;
    margin-bottom: 1rem;
}

.layout__link {
    float: right;
}

.layout__link--secondary {
    float: left;
}